{% extends "base.html" %}
{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
    <div class="container rounded-xl mx-auto bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://previews.123rf.com/images/faw1047a/faw1047a1511/faw1047a151100986/48686462-%ED%95%9C%EA%B5%AD-%EC%84%9C%EC%9A%B8-%EA%B1%B0%EB%A6%AC.jpg)">

    </div>

    {{now}}
    {% for room in rooms %}
    <h3>
        <a href="{% url "rooms:detail" room.pk %}">
        {{room.name}} / ${{room.price}}
        </a>
    </h3>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
   
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>

       
{% endblock content %}

