{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
    <div class="container mx-auto pb-10">
        <div class="rounded-xl -mx-40 bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://previews.123rf.com/images/faw1047a/faw1047a1511/faw1047a151100986/48686462-%ED%95%9C%EA%B5%AD-%EC%84%9C%EC%9A%B8-%EA%B1%B0%EB%A6%AC.jpg)">
        </div>
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages%}Page {{current_page}} of {{total_pages}}{% endblocktrans  %}
            </span>    
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>

    </div>

{% endblock content %}

