container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_createsu:
    command: "django-admin createsu"
  04_collectstatic:
    command: "django-admin collectstatic --noinput"
  05_seed_users:
    command: "python manage.py seed_users --number 50"
  06_seed_photos:
    command: "python manage.py seed_photos"
  07_seed_amenities:
    command: "python manage.py seed_amenities"
  08_seed_facilities:
    command: "python manage.py seed_facilities"
  09_seed_houseRules:
    command: "python manage.py seed_houseRules"
  10_seed_roomType:
    command: "python manage.py seed_roomType"
  11_seed_rooms:
    command: "python manage.py seed_rooms --number 50"
  12_seed_reservations:
    command: "python manage.py seed_reservations --number 30"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings